body,div,ul,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,input,p,blockquote,th,td,button,blockquote{ margin:0; padding:0;}

body{ font-family:"Î¢ÈíÑÅºÚ", Arial,helvetica,sans-serif;font-size:12px; margin:0 0 0 0; color:#000; text-align:left; line-height:150%; }

.insert_content{float:left;}

.pname{margin:10px 0 10px 0; float:left; width:100%;}

.psort{margin:10px 0 10px 0; float:left; width:100%;}

.psubmit{float:left; margin:10px 0 0 36px;}